<a href="https://colab.research.google.com/github/seulkioh91/pythonbasic/blob/main/210226_class2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
num1 = input()
num2 = num1.strip().split()
num3 = [int(i) for i in num2]

print(num1)
print(num2)
print(num3)

1 2 3 5 4
1 2 3 5 4
['1', '2', '3', '5', '4']
[1, 2, 3, 5, 4]

In [ ]:
1 2 3 5 4

SyntaxError: ignored

In [ ]:
num1 = input()
num2 = num1.strip().split()
num3 = [int(i) for i in num2]

if num3 != sorted(num3):
  print('NO')
else:
  print('YES')

1 2 3 4 5
YES

In [ ]:
num1 = input()
num2 = num1.strip().split()
num3 = [int(i) for i in num2]

if num3 != sorted(num3):
  print('NO')
else:
  print('YES')

1 2 3 5 4
NO

In [ ]:
nums=int(input())
for i in range(nums,nums+1):
  for j in range(1,10):
    print((i*j),end=" ")
  print("")

2
2 4 6 8 10 12 14 16 18

In [ ]:
nums=int(input())
for i in range(nums,nums+1):
  for j in range(1,10):
    print((i*j),end=" ")
  print("")

4
4 8 12 16 20 24 28 32 36

In [ ]:
n = int(input())
for i in range(1,10):
  print(n*i, end=" ")

2
2 4 6 8 10 12 14 16 18

In [ ]:
n = input('')
elected = str(n.max()
c=str(n.count('은비')).strip()
print("%s(이)가 총 %s 표로 반장이 되었습니다." % elected, c)

SyntaxError: ignored

In [ ]:
# count 함수
# 기본 문법 : 변수.count(찾는 값)
# a = 'ooyyy'
# a.count('y')

# b = 'ox o x oxoxoxo'
# b.count('ox')

a = [1,1,1,2,3]
a.count(1)

3

In [ ]:
I = list(input().split())
i_set = set(I)
cnt = o
for i in I_set:
  if I.count(i)>cnt:
    cnt=I.count(i)
    tmp=i

print('{0}(이)가 총 {1}로 반장이 되었습니다.').format(tmp.cnt))

SyntaxError: ignored

In [ ]:
a = input().split()
b = list(set(a))

max = 0
# 최대값을 임시로 초기화

for i in range(len(b)):   # 0, 1, 2
  if a.count(b[i]) > a.count(b[max]): 
    max = i

     #채연의 개수 2 > 채연의 개수 2
     #은비의 개수 4 > 채연의 개수 2 --> 빙고 --> 맥스가 i가 되는데 i ==1이 된다
     #원영의 개수 2 > 은비의 개수 4 (max값이 1이 됐던거니까 그대로 은비) max=1 유지
     
print("%s(이)가 총 %d표로 반장이 되었습니다."% (b[max], a.count(b[max])))
# 원영 원영 은비 은비 은비 은비 채연 채연

원영 원영 은비 은비 은비 은비 채연 채연
은비(이)가 총 4표로 반장이 되었습니다.

In [ ]:
a=input()
print(a.replace("q","e"))

querty
euerty

In [ ]:
nums=int(input()) #숫자를 입력 받는다
re = 0 #re(변수) 초기화
for i in range (1, nums+1): # 반복문(그 수까지)
  if nums % i == 0: #조건 입력받은 수를 그 수 앞에 모든 수로 나눈 나머지 값이 0이면
    re += 1 #변수re값을 하나씩 증가

if re == 2: #re값이 2면
    print("YES") #소수

else: # 아니면
    print("NO") #NO 출력

11
YES

In [ ]:
num = input()
print(sum(map(int, num)))

1234

TypeError: ignored

In [ ]:
1