In [67]:
class FourCal:
    def __init__(self, first, second):
        self.first = first
        self.second = second
        
    def setdata(self, first, second):
        self.first = first
        self.second = second
    def add(self):
        result = self.first + self.second
        return result
    def sub(self):
        result = self.first - self.second
        return result
    def mul(self):
        result = self.first * self.second
        return result
    def div(self):
        result = self.first / self.second
        return result

In [68]:
a = FourCal()

TypeError: __init__() missing 2 required positional arguments: 'first' and 'second'

In [52]:
a.setdata(4,2)

In [53]:
a.first

4

In [54]:
a.second

2

In [42]:
b = FourCal()

In [43]:
b.setdata(3,7)

In [44]:
b.first

3

In [45]:
b.second

7

In [46]:
a.add()

6

In [47]:
a.sub()

2

In [48]:
b.sub()

-4

In [49]:
b.div()

0.42857142857142855

In [64]:
a = FourCal(4,2)

In [65]:
a.first

4

In [66]:
a.second

2

In [82]:
class MoreFourCal(FourCal):
    def pow(self):
        result = self.first ** self.second
        
        return result

In [83]:
a = MoreFourCal(4,2)

In [84]:
a.add()

6

In [85]:
a.sub()

2

In [86]:
a.pow()

16

In [87]:
a = FourCal(4,0)

In [88]:
a.div() #0으로 나누면 에러가 난다

ZeroDivisionError: division by zero

In [90]:
class SafeFourCal(FourCal):
    def div(self):
        if self.second == 0:
            return 0
        else:
            return self.firstl/self.second

In [96]:
a = SafeFourCal(4,0)
a.div() #덮어쓴 자료로 (상속된 메소드) 진행되기때문에 에러가 없다.

0

In [2]:
try:
    f=open("없는파일","r")
except FileNotFoundError:
    pass

In [3]:
class Bird:
    def fly(self):
        raise NotImplementedError

In [8]:
class Eagle(Bird):
    def fly(self):
        print('very fast')

In [9]:
eagle = Eagle()
eagle.fly()

very fast

In [10]:
class MyError(Exception):
    pass

In [16]:
def say_nick(nick):
    if nick == '바보':
        raise MyError()
    print(nick)

In [17]:
say_nick('천사')

천사

In [18]:
say_nick('바보')

MyError:

In [22]:
try:
    say_nick('천사')
    say_nick('바보')
except MyError:
    print('허용되지 않는 별명입니다.') #에러가 발생할때에는 except에 있는 구문을 생성한다.

천사
허용되지 않는 별명입니다.

In [25]:
try:
    say_nick('천사')
    say_nick('바보')
except MyError as e:
    print(e)

천사
허용되지 않는 별명입니다.

In [24]:
class MyError(Exception):
    def __str__(self):
        return '허용되지 않는 별명입니다.'

In [32]:
abs(3)
 #절대값 구하는 함수

3

In [31]:
abs(-3)

3

In [33]:
all([1,2,3])

True

In [34]:
all([1,2,3,0])
#all은 모든 원소가 참이니? 하고 묻는것. 0은 거짓이기때문에 false가 나온다. (and와 비슷한 개념)

False

In [35]:
any([1,2,3])

True

In [36]:
any([1,2,3,0])
#any는 하나라도 True가 있으면 참. (or와 비슷한 개념)

True

In [37]:
chr(97)
#chr 은 ASCII 코드의 고유 번호를 찾는 것. 아스키 코드의 실제 문자값.

'a'

In [38]:
chr(98)

'b'

In [39]:
chr(48)

'0'

In [40]:
chr(0)

'\x00'

In [41]:
dir([1,2,3]) #자체적으로 가지고 있는 함수/변수의 목록을 보여준다.

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [42]:
divmod(7,3) #몫과 나머지를 동시에 구해준다.

(2, 1)

In [45]:
for i, name in enumerate(['body','foo','bar']):
    print(i,name)
    
# in enumerate 는 순서가 없는 값의 순서값을 알려준다. 매우 유용하다

0 body
1 foo
2 bar

In [46]:
def positive(l):
    result =[]
    for i in l :
        if i>0:
            result.append(i)
    return result

In [48]:
print(positive([1,-3,2,0,-5,6]))

[1, 2, 6]

In [49]:
def positive(x):
    return x > 0

In [51]:
print(list(filter(positive,[1,-3,2,0,-5,6])))

#0보다 큰것만 추가하여 걸러냄.

[1, 2, 6]

In [52]:
a = 3

In [53]:
id(a)

140736593536864

In [54]:
b = a

In [55]:
id(b)

140736593536864

In [56]:
id(4)

140736593536896

In [57]:
a = input()

hi

In [67]:
b = input("입력하세용:")

입력하세용:1

In [68]:
type(b) #input을 거치면 무조건 문자형이다.

str

In [69]:
print(b)

1

In [71]:
c = int(input("입력하세요잉:"))

입력하세요잉:1

In [72]:
type(c) #int로 변경해준것이다.

int

In [73]:
len("python")

6

In [74]:
len("py thon")

7

In [76]:
len([1,2,3]) #리스트의 갯수 셀 때

3

In [77]:
list("python")

['p', 'y', 't', 'h', 'o', 'n']

In [78]:
list((1,2,3))

[1, 2, 3]

In [80]:
def two_times(numberList):
    result = []
    for number in numberList:
        result.append(number*2)
    return result

In [83]:
result = two_times([1,2,3,4])
print(result)

[2, 4, 6, 8]

In [84]:
def two_times(x):
    return x*2

In [86]:
list(map(two_times,[1,2,3,4]))
#어떤 함수를, 두번째 있는 값들[1,2,3,4]에 적용하는것.

[2, 4, 6, 8]

In [87]:
max(1,2,3)

3

In [88]:
min(1,2,3)

1

In [90]:
max('python')
#글자도 크고 작은게 있다. y가 가장 큼.

'y'

In [91]:
min('python')
#h가 가장 작음.

'h'

In [92]:
max('AbCde')

'e'

In [93]:
chr(97)

'a'

In [94]:
ord('a')
#문자를 아스키값으로 바꾸는 ASCII

97

In [96]:
list(range(5))
#시작점 생략해서 5미만까지

[0, 1, 2, 3, 4]

In [97]:
list(range(5,10))

[5, 6, 7, 8, 9]

In [100]:
list(range(1,10,2))
#1에서 10까지 2씩 증가시킨다. (마지막 인수는 증가폭)

[1, 3, 5, 7, 9]

In [102]:
list(range(1,10,3))

[1, 4, 7]

In [104]:
list(range(0,-10,-1))
# 마이너스도 적용 가능.

[0, -1, -2, -3, -4, -5, -6, -7, -8, -9]

In [107]:
round(4.6)
#반올림

5

In [108]:
round(4.2)

4

In [110]:
round(5.678,2)
#소수점 두번째자리까지.

5.68

In [111]:
str(3)

'3'

In [113]:
type(str(3))

str

In [116]:
str('hi'.upper())

'HI'

In [117]:
str('HI'.lower())

'hi'

In [119]:
sum([1,2,3,4,5])

15

Quiz. [332,342,456]의 평균 구하기 함수2개사용

In [128]:
a = [332,342,456]
sum(a) / len(a)

376.6666666666667

Quiz. [332,342,456]의 평균 구하기 함수1개사용

In [131]:
a=[332,342,456]
sum(a)/3

376.6666666666667

In [139]:
import numpy as np
a = np.array([332,342,456])
print(a.mean())

376.6666666666667

In [141]:
list(zip([1,2,3],[4,5,6]))
#엮어주는 함수
#동일한 개수여야 엮어진다.

[(1, 4), (2, 5), (3, 6)]

In [142]:
list(zip([1,2,3],[4,5,6,7]))

[(1, 4), (2, 5), (3, 6)]