In [1]:
삼성전자=50000
총평가금액 = 삼성전자*10
print(총평가금액)

500000

In [2]:
s="hello"
t="python"
print(s+"!"+" "+t)

hello! python

In [3]:
print(2+2*3)

8

In [4]:
a = 128
print(type(a))

<class 'int'>

In [5]:
a = "132"
print(type(a))

<class 'str'>

In [10]:
num_str="720"
num_int=int(num_str)
print(num_int, type(num_int))

720 <class 'int'>

In [13]:
num = 100
num_str = str(num)
print(num_str, type(num_str))

100 <class 'str'>

In [14]:
data = "15.79"
date = float(data)
print(data, type(data))

15.79 <class 'str'>

In [18]:
year = "2020"
year = int(year)
print((year)-1)
print((year)-2)
print((year)-3)
print(type(year))

2019
2018
2017
<class 'int'>

In [21]:
month_price=48584
total_price=(month_price)*36
print(total_price)

1749024

In [28]:
letters = 'python'
print(letters[0],letters[2])

p t

In [31]:
license_plate = "24가 2210"
print(license_plate[-4:])

2210

In [42]:
string = "홀짝홀짝홀짝"
# print(string[0],string[2],string[4])
print(string[::2]) #< 슬라이싱 때 시작인덱스:끝인덱스:오프셋  <해답

홀홀홀

In [41]:
string="PYTHON"
# print(string.reverse()) #<내답
print(string[::-1]) #<해답

NOHTYP

In [44]:
phone_number = "010-1111-2222"
phone_number.replace("-"," ")

'010 1111 2222'

In [45]:
phone_number = "010-1111-2222"
phone_number.replace("-","")

'01011112222'

In [51]:
url = "http://sharebook.kr"
url_split = url.split(".")
print(url_split[-1])

kr

In [52]:
lang = 'python'
lang[0] = 'P'
print(lang)

TypeError: 'str' object does not support item assignment

In [56]:
string="abcdef2a354a32a"
string.replace("a","A")
type(string)

str

In [58]:
string = "abcd"
string.replace("b","B")
# string=string.replace("b","B") 일 경우에는 aBcd가 출력
print(string) #문자열은 변경 불가하므로, 그냥 abc가 출력된다.

abcd

In [59]:
a = "3"
b = "4"
print(a+b)

34

In [60]:
print("Hi"*3)

HiHiHi

In [61]:
print("-"*80)

--------------------------------------------------------------------------------

In [62]:
t1 = "python"
t2 = "java"

In [65]:
t3 = t1 + " " + t2 + " "
print(t3*4)

python java python java python java python java

In [73]:
name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13

In [74]:
print("이름: %s 나이: %d" % (name1, age1))
print("이름: %s 나이: %d" % (name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [76]:
print("이름: {} 나이: {}".format (name1, age1))
print("이름: {} 나이: {}".format (name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [77]:
# 37 f-string 사용 문제는 넘어감

In [82]:
상장주식수 = "5,969,782,550"
컴마제거 = 상장주식수.replace(",","")
상장주식수 = int(컴마제거)
print(상장주식수, type(상장주식수))

5969782550 <class 'int'>

In [84]:
분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])

2020/03

In [87]:
data = "    삼성전자     "
data1=data.strip()
print(data1)

삼성전자

In [89]:
ticker = "btc_krw"
ticker_upper=ticker.upper()
print(ticker_upper)

BTC_KRW

In [90]:
ticker = "BTC_KRW"
ticker_lower=ticker.lower()
print(ticker_lower)

btc_krw

In [92]:
a = "hello"
a1 = a.replace("h","H")
print(a1)

Hello

In [94]:
file_name = "보고서.xlsx"
file_name.endswith("xlsx")

True

In [95]:
file_name = "2020_보고서.xlsx"
file_name.startswith("2020")

True

In [97]:
a = "hello world"
a.split( )

['hello', 'world']

In [99]:
ticker = "btc_krw"
ticker.split("_")

['btc', 'krw']

In [100]:
date = "2020-05-01"
date.split("-")

['2020', '05', '01']

In [101]:
data = "039490       "
data.strip()

'039490'

In [110]:
movie_rank =["닥터 스트레인지", "스플릿", "럭키"]
movie_rank.append("배트맨")
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [112]:
movie_rank = ["닥터 스트레인지", "스플릿","럭키","배트맨"]
movie_rank.remove("럭키")
print(movie_rank)

['닥터 스트레인지', '스플릿', '배트맨']

In [113]:
movie_rank = ["닥터 스트레인지", "스플릿","럭키","배트맨"]
del movie_rank[2]
del movie_rank[2]
print(movie_rank)

['닥터 스트레인지', '스플릿']

In [117]:
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
langs = lang1+lang2
print(langs)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [122]:
nums = [1,2,3,4,5,6,7]
print("max: ", max(nums))
print("min: ", min(nums))

max:  7
min:  1

In [123]:
nums = [1, 2, 3, 4, 5]
print(sum(nums))

15

In [124]:
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "쏘세지", "라면", "팥빙수", "김치전"]
len(cook)

12

In [126]:
nums = [1,2,3,4,5]
average = sum(nums) / len(nums)
print(average)

3.0