<a href="https://colab.research.google.com/github/seulkioh91/pythonbasic/blob/main/210226_class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

27. 딕셔너리 만들기

In [ ]:
a = map(int,input().split())

print(a)

10 20
<map object at 0x7f4d3c52fc90>

In [ ]:
a=[1,2,3,4]
b=[100,200,300,400]

print(list(zip(a,b)))

[(1, 100), (2, 200), (3, 300), (4, 400)]

In [ ]:
key = input().split()
value = map(int, input().split())

print(dict(zip(key,value)))

Yujin Hyewon
70 100

TypeError: ignored

In [ ]:
a="저 넓은 세상을 네 눈앞에 그려봐 네 진심을 느껴봐"
print(len(a.split()))

TypeError: ignored

In [ ]:
num1 = input()
num2 = list(num1.split())
num3 = map(int,input().split())

print(num1)

In [7]:
print(sum(map(int(input()))))

1234

TypeError: ignored

In [3]:
n = list(map(int,input())) # 숫자로입력받기
sum = 0 
for i in n : #반복문 : 입력 받은 숫자 하나씩 넣기
  sum += i #누적합계 구하기

print(sum)

1234
10

In [6]:
sum = 0
for i in input():
  sum += int(i)
print(sum)

1234
10

In [22]:
a=[]
for i in range(0,20):
  i += 1
  print(i, end="")
c = sum(map(int, a))

1234567891011121314151617181920

TypeError: ignored

In [23]:
sum = 0
for i in list(range(21)):
  for j in str(i):
    sum += int(j)
print(sum)

102

In [25]:
sum = 0
for i in list(range(21)):
  print(i)
  for j in str(i):
    print(j)
    sum+= int(j)
    print(sum)
print(sum)

0
0
0
1
1
1
2
2
3
3
3
6
4
4
10
5
5
15
6
6
21
7
7
28
8
8
36
9
9
45
10
1
46
0
46
11
1
47
1
48
12
1
49
2
51
13
1
52
3
55
14
1
56
4
60
15
1
61
5
66
16
1
67
6
73
17
1
74
7
81
18
1
82
8
90
19
1
91
9
100
20
2
102
0
102
102

In [28]:
a=int(input())
sum = 0
for i in list(range(a+1)):
  for j in str(i):
    sum+= int(j)
print(sum)

20
102