<a href="https://colab.research.google.com/github/seulkioh91/pythonbasic/blob/main/210219_Class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
nums = [100, 200, 300, 400, 500]
del nums[3:]
print(nums)

[100, 200, 300]

In [28]:
i = [200, 100, 300]
i.insert(2,10000)
print(i)

[200, 100, 10000, 300]

In [32]:
a='p'

In [35]:
print(type(a))

<class 'str'>

In [38]:
a = 10
b = 2
for i in range(1,5,2):
  a+=i

print(a+b)

16

In [42]:
d={'height':180,'weight':78,'weight':84,'temperature':36,'eyeslight':1}
print(d['weight'])

84

In [55]:
year = '2019'
month = '04'
day = '26'
hour = '11'
minute = '34'
second = '27'

print(year, month, day,sep='/',end=' ' )
print(hour, minute, second,sep=':' )

2019/04/26 11:34:27

In [115]:
n = int(input('몇단 만들까?'))

for i in range(1,n+1):
  for j in range(n+1-i):
    print(" ",end="")
  for j in range(2*i-1):
    print("*",end="")
  print()

몇단 만들까?7
       *
      ***
     *****
    *******
   *********
  ***********
 *************

In [62]:
955
  line = int(input("Tree 의 높이를 입력하세요(5~30) : "))

    for x in range(1, line * 2, 2):
        print((" " * ( (line * 2 - 1 - x) // 2 )) + ("*" * x))

Tree 의 높이를 입력하세요(5~30) : 5
    *
   ***
  *****
 *******
*********

In [130]:
s = 0
for i in range(1,101):
  s=s+i
print(s)

5050

In [148]:
class Wizard:
  def __init__(self, health, mana, armor):
    self.health = health
    self.mana = mana
    self.armor = armor
  def attack(self):
    print("파이어볼")

x = Wizard(health = 545, mana = 210, armor = 10)
print(x.health, x.mana, x.armor)
x.attack()

545 210 10
파이어볼

In [169]:
n=int(input("몇번째?"))
태양계=["수", "금", "지", "화", "목", "토", "천", "해"]
print(태양계[n-1])

몇번째?2
금

In [184]:
n=int(input("숫자말해:"))
while True:
  if n%3 == 0:
    print("짝")
  else:
    print(n)

  break

숫자말해:1
1

In [187]:
name=(input("이름을 말해주세요"))
print("안녕하세요 저는 %s  입니다." % name)

이름을 말해주세요김철수
안녕하세요 저는 김철수  입니다.

In [203]:
s = input('')
print(s[::-1])

김철수
수철김

In [207]:
키=int(input(''))
if 키 >= 150:
  print("yes")
else:
  print("no")

149
no

In [228]:
a = list(map(int,input().split()))
print(int(sum(nums)/len(nums)))

10 20 30 40 50
200

In [230]:
n = list(map(int, input().split()))
# input받아서, split으로 잘라서, 잘라진것을 숫자로바꿔, 숫자들 map으로 전체 
print(n[0] ** n[1])

SyntaxError: ignored

In [235]:
n = list(map(int, input().split()))
print(n[0]//n[1], end = " ")
print(n[0]%n[1])

10 5
2 0

In [236]:
x={}
type(x)

dict

In [237]:
a=input("이름:")
print(a.upper())

이름:marry
MARRY

In [238]:
a = int(input())
print(a*a*3.14)

7
153.86

In [249]:

def area(a):
  return a*a*3.14
area(int(input()))

7

153.86

In [267]:
print((planet.get(input())))
planet={'수':'Mercury',
        '금':'Venus',
        '지':'Earth',
        '화':'Mars',
        '목':'Jupiter',
        '토':'Saturn',
        '천':'Uranus',
        '해':'Neptune'
}
#딕셔너리는 이렇게 넣어줘야 가독성이 좋다. 관용적으로 이렇게 사용한다.

해
Neptune