<a href="https://colab.research.google.com/github/seulkioh91/pythonbasic/blob/main/210312class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
a=input() #입력받기
a.swapcase() #swapcase라는 대문자->소문자/ 소문자->대문자 변환 메소드 사용

AAABBBcccddd

'aaabbbCCCDDD'

In [14]:
a = map(int,input().split(' ')) #여러 값 입력받는것 분리
b = sorted(a) #정렬
print(max(b)) #최대값 출력

2 4 6 8 10
10

In [16]:
student = ['강은지', '김유정', '박현서', '최성훈', '홍유진', '박지호', 
           '권윤일', '김채리', '한지호', '김진이', '김민호', '강채연']
a = sorted(student)

In [28]:
student = ['강은지', '김유정', '박현서', '최성훈', '홍유진', '박지호', 
           '권윤일', '김채리', '한지호', '김진이', '김민호', '강채연']

student.sort()#정렬

for i in range (len(student)): 
  print("번호:{0}, 이름:{1}".format(i+1,student[i]))

번호:1, 이름:강은지
번호:2, 이름:강채연
번호:3, 이름:권윤일
번호:4, 이름:김민호
번호:5, 이름:김유정
번호:6, 이름:김진이
번호:7, 이름:김채리
번호:8, 이름:박지호
번호:9, 이름:박현서
번호:10, 이름:최성훈
번호:11, 이름:한지호
번호:12, 이름:홍유진

In [25]:
student = ['강은지', '김유정', '박현서', '최성훈', '홍유진', '박지호', 
           '권윤일', '김채리', '한지호', '김진이', '김민호', '강채연']

for i,value in enumerate(student) :
    print("번호 : ",i+1,", 이름 :",value)

번호 :  1 , 이름 : 강은지
번호 :  2 , 이름 : 김유정
번호 :  3 , 이름 : 박현서
번호 :  4 , 이름 : 최성훈
번호 :  5 , 이름 : 홍유진
번호 :  6 , 이름 : 박지호
번호 :  7 , 이름 : 권윤일
번호 :  8 , 이름 : 김채리
번호 :  9 , 이름 : 한지호
번호 :  10 , 이름 : 김진이
번호 :  11 , 이름 : 김민호
번호 :  12 , 이름 : 강채연

In [51]:
zero=""
one="a"
two="aa"
three="aaa"
nine="aaaaaaaaa"
print(len(two),len(zero),len(one),len(nine),len(zero),len(nine),len(two),len(three),sep='')

20190923

In [50]:
str = "aacdddddddddfff"
print(str.count('a'), end='')
print(str.count('b'), end='')
print(str.count('c'), end='')
print(str.count('d'), end='')
print(str.count('b'), end='')
print(str.count('d'), end='')
print(str.count('a'), end='')
print(str.count('f'), end='')

20190923

In [79]:
a = list(input().split(' ')) #입력값을 공백 기준으로 자르기
out = ''
for i in a: #반복해줘야한다. a로 잘라진 수량만큼
  out = out + i[0] #out 값의 인덱스0번째 값들만 가져와 붙인다.
print(out)

복잡한 세상 편하게 살자
복세편살

In [80]:
a = input().split(' ')
for i in a:
  print(i[0], end='')

복잡한 세상 편하게 살자
복세편살

In [89]:
print(len(input())) #입력받은 값을len으로 세어준다.

123
3

In [90]:
print('%s자리수입니다'%len(input()))

123
3자리수입니다

In [107]:
text = input()
print(len(text)-text.count(' '))

김삿갓 김
4